/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
}

.logo {
    margin-top: 20px;
}

.logo img {
    height: 19px;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 21em;
    margin-right: -50px;
    text-align: center;
}

.search-and-filters h1 {
    margin-top: 50px;
    font-size: 23.5px;
}

.description p {
    margin-top: 5px;
}

.nav-button {
    border-top: 3px solid white;
    width: 50%;
    padding-top: 10px;
}

.nav-button:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.search-bar {
    display: flex;
    margin: 30px 0;
    font-size: 20px;
    align-items: center;
}

.search-bar .search-text {
    font-size: 19px;
    padding: 12px 0;
    width: 210px;
}

.search-text {
    border: 0.5px #F2F2F2 solid;
    font-weight: bold;
    text-align: center;
}

.search-text:focus {
    outline: none;
}

.search-text::placeholder {
    color: black;
}

.search-button {
    border: 0.5px #0065FC solid;
    border-radius: 0 15px 15px 0;
    padding: 13px 20px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

#search-dot {
    border: 0.5px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 13px 17px;
    color: black;
}

#search-mg {
    display: none;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.filters-buttons {
    display: flex;
    gap: 18px;
}

.filter-button {
    border: 2px #d9d9d9 solid;
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-button .fa-solid{
    font-size: 22px;
}

.filter-button p {
    margin: 0;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.search-and-filters .fa-info {
    border: #F2F2F2 solid;
    border-radius: 30px;
    padding: 7px 10px;
    font-size: 10px;
}

.search-and-filters p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
}

.main-container {
    display: flex;
    max-width: 1440px;
    padding: 0 3%;
    margin: auto;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 24px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more-link {
    font-weight: bold;
    font-size: 19px;
    margin-top: 25px;
    margin-left: 17px;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    padding: 2.5%;
    margin-bottom: 2%;
}

.activites-cards {
    width: 100%;
    height: 439px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites-cards a {
    width: 23%;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 100%;
}

.activites-cards img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: 7px;
    left: 15px;
}

.activites-cards .card-title {
    margin: 0;
}

footer {
    background-color: #F2F2F2;
}

.footer-container {
    display: flex;
    margin: 0 0 20px 20px;
    flex-direction: row;
    gap: 20%;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-item h3 {
    margin-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        max-width: 950px;
    }

    .filters h3 {
        width: 100%;
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 15px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        padding: 3%;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards {
        height: auto;
    }

    .activites-cards .card-content {
        position: relative;
        bottom: 0;
        left: 5px;
        align-items: flex-start;
        padding: 10px;
    }
    .footer-container {
        gap: 14%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .search-and-filters h1 {
        margin-top: 25px;
    }
    .main-container {
        padding: 0;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    .navigation {
        width: 100%;
        margin: 0;
    }
    .search-and-filters {
        padding: 0 5%;
    }
    .search-bar {
        width: 100%;
    }
    .search-bar .search-text {
        width: 100%;
    }
    .nav-button {
        border-bottom: 3px solid #D3D3D3;
        width: 50%;
        padding-bottom: 10px;
    }
    .filters-buttons {
        flex-wrap: wrap;
        width: 100%;
        gap: 3%;
        row-gap: inherit;
    }
    .filter-button {
        width: 40%;
        padding: 15px 3%;
    }
    .filter-button i{
        margin-left: 5px;
    }
    .nav-button:hover {
        border-top: 3px solid white;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .search-button {
        display: none;
    }
    #search-mg {
        display: inline;
        border: 0.5px #0065FC solid;
        background-color: #0065FC;
        border-radius: 10px;
        padding: 14px;
        color: white;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
        margin-left: -10px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .hebergements {
        background-color: white;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards .card-title {
        font-size: 16px;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .hebergements-cards {
        flex-direction: column;
    }
    .more-link {
        margin: 15px 0;
    }
    .activites {
        padding: 30px;
    }
    .activites-cards a {
        width: 100%;
    }
    .activites-cards {
        flex-direction: column;
        gap: 10px;
    }
    .activites-cards img {
        height: 141px;
    }
    .activites-cards .card-content {
        height: 40px;
    }
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
}